<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta content="ZBox" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/images/favicon.ico">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="" data-page="{{page}}">
{{{ body }}}
<script src="plugins/jquery/dist/jquery.min.js"></script>
<script src="plugins/jquery-backstretch/jquery.backstretch.min.js"></script>
<script src="plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="js/bundle.js"></script>
</body>
</html>
