<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta content="ZBox" name="author" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/images/favicon.ico">
    <link href="/css/style.min.css" rel="stylesheet">
</head>
<body class="" data-page="{{page}}">
{{{ body }}}
</body>
</html>
