<p>Hola {{ user.fullname }}!</p>
<p><b>{{ client.name }}</b> está solicitando acceso a tu cuenta.</p>
<p>¿Apruebas la solicitud de acceso?</p>

<form action="/oauth/authorize/decision" method="post">
    <input name="transaction_id" type="hidden" value="{{ transactionID }}">
    <div>
        <input type="submit" value="Allow" id="allow">
        <input type="submit" value="Deny" name="cancel" id="deny">
    </div>
</form>
